.git
.cursor
node_modules
npm-debug.log*

frontend/.next
frontend/node_modules
frontend/out
backend/.venv
backend/.pytest_cache
backend/models

apps/frontend/.next
apps/frontend/node_modules
apps/frontend/out
apps/backend/.venv
apps/backend/.pytest_cache
apps/backend/models
